jupyter
notebook
ipykernel

numpy
pandas

pymupdf

langchain
langchain-community
langchain-huggingface

sentence-transformers
faiss-cpu

transformers
accelerate

torch
torchvision
torchaudio

fastapi
uvicorn
streamlit
python-multipart